@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

/* For Whole Page*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color: #202020;
    text-decoration: none;
    position: relative;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(69, 111, 225);
    transition: 0.5s ease;
}

.container-fluid {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}


/* For Navbar*/

.menu-toggle {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    z-index: 999;
    display: none;
}

.menu-toggle i,
.fa-times {
    font-size: 3.5rem
}

.fa-times {
    display: none;
    cursor: pointer
}

nav {
    height: 50px;
    background-color: transparent;
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    z-index: 99999;
    transition: all ease .5s;
}


/*changes color of navabr when scrolling*/

nav.shrink {
    background: rgba(0, 0, 0, 0.075);
    transition: all ease .5s;
}

nav.shrink ul {
    color: whitesmoke;
}

nav.shrink .nav-middle .btn {
    color: whitesmoke;
}

.logo {
    width: 9rem;
    padding-left: 2rem;
}

.logo img {
    display: block;
    width: 100%;
}

nav ul {
    height: 5rem;
    list-style: none;
    display: flex;
    font-size: 1.6rem;
}

nav ul li {
    padding: 1rem;
    font-weight: 450;
    line-height: 4rem;
    transition: background-color ease 0.5s;
}

nav ul li:hover {
    background-color: rgba(0, 0, 0, 0.075)
}

.nav-middle {
    text-align: center;
    justify-content: center;
    margin-right: 10rem;
    display: flex;
}

.nav-middle ul li>.sub-menu-noibat {
    display: none;
    position: absolute;
}

.nav-middle ul li:hover .sub-menu-noibat {
    display: block;
    transition: background-color 1.5s;
}

.nav-middle .btn {
    width: 16rem;
    margin-left: 2rem;
    margin-top: 4px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 24px;
    text-align: center;
}


/* For Pgae 1*/

#page1 {}

.page-info {
    display: flex;
    width: 93%;
    height: 100%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center
}

.page-info h1 {
    font-size: 4rem;
    letter-spacing: 3px;
    margin-right: -3px;
    margin-bottom: 1rem;
    font-weight: 100;
    text-align: center;
}

.page-info p {
    font-size: 1.5rem;
    margin-bottom: 4rem;
}

.page-info .btn {
    display: flex;
    padding: 2rem;
    color: #f7f7f6;
    font-size: 1.5rem;
    font-weight: 900;
    transition: all .5s;
}

.page-info .discovery-btn {
    background-color: #a4a4a4;
}

.page-info .discovery-btn:hover {
    box-shadow: 3px 1rem 2rem rgba(0, 0, 0, 0.3);
    transform: translateY(-1rem);
}


/*For Page 2
 background-color: #2c3e50;*/

#page2 {
    position: relative;
}

blockquote {
    width: 41%;
    position: absolute;
    left: 4rem;
    margin-top: 15rem;
    color: black;
    font-size: 35px;
}

#highlight {
    width: 90%;
    background: red;
    height: 5px;
    display: block;
}

#page2 img {
    position: absolute;
}

#page2 img:nth-of-type(1) {
    right: 0;
    width: 31%;
    top: 10%;
}

#page2 img:nth-of-type(2) {
    width: 23%;
    top: 52%;
    right: 42rem;
}

.box {
    width: 100px;
    height: 100px;
    position: absolute;
    border: 5px solid black;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}


/* For Page 3 background-color: whitesmoke;*/

#page3 {}


/* For Resize*/

@media screen and (max-width: 1200px) {
    .page-info h1 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
    .page-info p {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 900px) {
    .logo {
        padding-left: 1rem;
    }
    nav ul {
        height: 5rem;
        font-size: 1.4rem;
    }
    nav ul li {
        padding: 0 1.5rem;
        line-height: 5rem;
    }
}

@media screen and (max-width: 780px) {
    nav ul {
        height: 19.5rem;
        font-size: 1.5rem;
        display: inline-table;
        text-align: center;
        margin-left: 3rem;
        margin-top: 3rem;
    }
    nav ul li {
        padding: 0 1rem;
        line-height: 5rem;
        position: relative;
    }
    .nav-middle ul li:hover .sub-menu-noibat {
        position: absolute;
        top: 0;
        left: 100px;
    }
    nav {
        display: flex;
        border-bottom: none;
        justify-content: flex-start;
        flex-direction: column;
        width: 30rem;
        height: 100vh;
        background-color: #f7f7f6;
        transform: translateX(-25rem);
        transition: transform .5s;
    }
    nav.shrink {
        background-color: #f7f7f6;
    }
    nav.shrink ul {
        color: #202020;
    }
    nav.shrink .nav-middle .btn {
        color: #202020;
    }
    .nav-middle {
        display: flex;
        flex-direction: column;
        margin-right: 5rem;
        text-align: -webkit-center;
        margin-top: 4rem;
    }
    .nav-middle .btn {
        height: 5rem;
    }
    .logo {
        padding: 0;
        margin-left: 6rem;
        margin-top: 2rem;
    }
    .menu-toggle {
        display: flex;
    }
    .fa-times {
        display: block;
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
    .active {
        transform: translateX(0);
    }
    .overlay {
        position: absolute;
        width: 0;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 998;
        opacity: 0;
        transition: opacity .5s;
    }
    .overlay.menu-toggle {
        width: 100%;
        opacity: 1;
    }
    .sub-menu-noibat {
        background-color: #a4a4a4;
        margin: 0%;
        transform: translateX(50px)
    }
}

@media screen and (max-width: 400px) {
    .page-info h1 {
        font-size: 2rem;
        margin-bottom: 1.5rem
    }
    .page-info p {
        font-size: 1.5rem;
        margin-bottom: 1.5rem
    }
    .btn {
        margin-top: 1em;
        padding: 0.7rem;
        font-size: 0.8rem;
    }
}